.product-data-hidden {
	display: none;
	visibility: hidden;
}

.product-listing {
	width: 100%;
}

.product-record {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	float: left;
	position: relative;
	min-width: 290px;
	max-width: 460px;
}

.product-icon {
	width: 48px;
	height: 48px;
	padding-right: 3px;
	padding-bottom: 3px;
	float: left;
	border: none;
}

.product-name {
	display: block;
	border: none;
}

.product-platforms {
	display: block;
	border: none;
}

.product-description {
	display: block;
	border: none;
}

.product-image {
	width: 240px;
	height: 360px;
}

.product-link, .product-link:hover, .product-link:focus {
	text-decoration: none;
}
